@font-face {
	font-family: 'icomoon';
	src:url('fonts/fonts/icomoon.eot?alo8yw');
	src:url('fonts/fonts/icomoon.eot?#iefixalo8yw') format('embedded-opentype'),
		url('fonts/fonts/icomoon.woff?alo8yw') format('woff'),
		url('fonts/fonts/icomoon.ttf?alo8yw') format('truetype'),
		url('fonts/fonts/icomoon.svg?alo8yw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.cd-dropdown span[class^="icon-"]:before, 
.cd-dropdown span[class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	position: absolute;
	font-size: 40px;
	line-height: 40px;
	width: 50px;
	top: 50%;
	left: 15px;
	margin-top: -20px;
	text-align: center;
}

.icon-calculate:before {
	content: "\e601";
}
.icon-history:before {
	content: "\e600";
}
.icon-lab:before {
	content: "\e602";
}
.icon-earth:before {
	content: "\e603";
}
.icon-spell-check:before {
	content: "\e604";
}
.icon-music:before {
	content: "\e605";
}